<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .main {
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
</style>

<body>
    <div class="main">

        {#
        <h1>Your visit : {{request.cookies("counting")}} </h1>
        #}
        <h1>Your visit : </h1>
    </div>
    <script>
        let cookiesValue = document.cookie.split("=");
        let lengthCookies = cookiesValue.length


        let h1Tag = document.querySelector(".main h1");
        h1Tag.innerHTML += String(cookiesValue[lengthCookies - 1]);
        console.log(cookiesValue[lengthCookies - 1]);
    </script>
</body>

</html>