<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creation of table</title>
</head>

<body>
    <style>
        .formData {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            /* width: 80%; */
            align-items: center;
            text-align: start;
        }
    </style>
    <main>
        <form action="/table" method="post" class="formData">
            <label for="tableNum">Enter table number : </label>
            <input type="number" name="tableNum" id="">
            <input type="submit" value="Submit">
        </form>
    </main>
</body>

</html>