<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .submit {
        text-align: center;
        margin: 5px 0;
        padding: 10px 0;
    }


    .table-data {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<body>
    <main>
        <table class="table-data">
            <form action="/">
                <tr>
                    <td>
                        <label for="languageName">Enter Language</label>
                    </td>
                    <td>
                        <input type="text" name="languageName" id="languageID">
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="experienceName">Enter Experience with data(yrs)</label>
                    </td>
                    <td>
                        <input type="text" name="experienceName" id="languageID">
                    </td>
                </tr>
                <tr>
                    <td class="submit" colspan="2">
                        <input type="submit" value="Submit">
                    </td>
                </tr>
            </form>
        </table>
    </main>
</body>

</html>