<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base URL</title>
</head>

<body>
    <style>
        * {
            margin: 0;
        }

        .nav-bar-links {
            display: flex;
            gap: 20px;
            background-color: rgb(54, 121, 179);
            padding: 2rem;
            justify-content: space-evenly;
        }

        .nav-bar-links a {
            /* list-style: none; */
            text-decoration: none;
            display: inline-block;
            padding: 5px;
            color: white;
            background-color: #0000;
        }

        .button {
            display: flex;
            justify-content: center;
        }
    </style>

    <nav class="nav-bar">
        <div class="nav-bar-links">
            <a href="#" class="home">home</a>
            <a href="#" class="home">About</a>
            <a href="#" class="home">Product</a>
            <a href="#" class="home">Contact us</a>
        </div>
    </nav>
    {% block body %}
    <main>
        <div class="first">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias id possimus nisi delectus numquam
                officiis inventore odit corrupti praesentium repudiandae cum dolorum tempora exercitationem vero hic
                dicta saepe earum, provident natus accusamus! Repellendus minus beatae animi reprehenderit explicabo non
                suscipit ratione necessitatibus ipsa natus iste provident quam eos impedit neque ab numquam debitis,
                illo eveniet minima accusantium velit itaque recusandae. Tempora nihil odio vel eveniet. Provident
                beatae quas asperiores harum, temporibus sit ratione magni animi, libero delectus tenetur, molestias
                officiis similique. Error, sed aperiam debitis, placeat ut dolores sequi eius minus expedita ex neque
                repudiandae ipsum veritatis saepe rerum veniam exercitationem qui quidem ab ducimus reprehenderit.
                Provident earum iure magnam voluptate, quis repellendus illo asperiores, ex totam nam sapiente! Nobis
                iusto quibusdam cum, ipsam dignissimos laboriosam distinctio, quidem nihil nulla natus aperiam velit
                autem iste doloremque at fugit vel optio perspiciatis quo ex in quaerat iure rerum corporis. Optio
                mollitia odio laborum necessitatibus tempora quaerat, minus totam reiciendis labore repellat hic
                explicabo, amet at neque atque. Ut repudiandae harum animi vitae repellat, facilis id alias natus
                voluptate voluptatem officiis illum magni ea atque maxime corporis magnam numquam autem expedita eum
                veniam. Corporis pariatur deserunt vero nulla. Illum sequi ipsam eius possimus laborum doloremque
                excepturi, reprehenderit vitae. Quo sapiente quae adipisci eum porro similique corporis, inventore eius
                temporibus. Est quia molestias consequuntur illum sapiente deleniti eveniet dolore corrupti rem facilis,
                eum nobis? Dolor ab in nostrum sequi aliquid dolore praesentium illo expedita, ullam earum quam,
                inventore exercitationem eligendi tenetur at veniam necessitatibus tempore et accusantium adipisci.
                Rerum fuga in reprehenderit dicta laborum consectetur voluptatem aliquid repellat obcaecati officiis,
                numquam, quo ut odit est sequi illo at tenetur, ab incidunt labore. Omnis quisquam nemo non quibusdam.
                Rerum nobis cum ipsa voluptatem sit debitis veniam ex eveniet quaerat, saepe voluptatum possimus aperiam
                fugiat repudiandae, numquam similique quam quibusdam dolorum consequatur veritatis pariatur.
                Repellendus, nemo non. Nesciunt officiis aut neque dolorem sit, fuga odit, voluptatem temporibus
                molestias ipsam itaque aspernatur enim fugit adipisci, animi possimus ex corrupti error accusamus
                numquam aliquid? Earum ex aliquid ipsa quasi ea harum nesciunt blanditiis at repellendus, similique
                accusantium optio, veritatis adipisci. Asperiores, deleniti? Id deserunt fugiat odio debitis dolore
                cupiditate nisi veritatis voluptatum omnis recusandae iure ratione distinctio doloremque ipsum ipsam
                iste repellendus, quam molestias! Explicabo alias optio odio! Adipisci soluta vel totam ducimus possimus
                magnam voluptatibus vero culpa minima, illum numquam iure nemo quasi mollitia labore esse consequuntur
                nesciunt libero perspiciatis minus aperiam? Provident enim nemo pariatur recusandae laborum numquam
                iste, dolorum consectetur eligendi blanditiis, maxime necessitatibus a eius quisquam earum expedita
                magnam in quia. Omnis architecto quis eaque officiis doloremque a possimus minima aut quasi deleniti cum
                consequatur fuga repudiandae nemo explicabo quas iusto, asperiores debitis maiores voluptatem aspernatur
                veritatis! Soluta minima repudiandae omnis perferendis quod voluptatum nesciunt fugiat, veritatis
                obcaecati. Nam, perferendis? Perferendis blanditiis ratione inventore non vitae asperiores odit
                praesentium ullam exercitationem suscipit, aperiam accusamus laborum officiis itaque accusantium quaerat
                minima. Vitae, provident at quis laboriosam, nemo dicta quaerat incidunt officiis, ab optio dolorem.</p>
        </div>
        {% endblock %}
    </main>
    <div class="button">
        <input type="submit" value="submit">
    </div>
</body>

</html>