<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <style>
        main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #565656;
            color: aqua;
            gap: 30px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    </style>
    <main>
        <h2>Rutvik Jaiswal</h2>
        <form action="/login" method="post">
            <input type="text" name="nameOfLogin" id="nameOfLoggerId" placeholder="Enter Name">
            <input type="password" name="loginPass" id="loginPassID">
            <input type="submit" value="submit">
        </form>
    </main>
</body>

</html>